@media all and (max-width: 1080px) {
    body {
        background-color: #000;
    }

    article {
        margin: 0;
    }

    .top-header {
        margin-right: 100px;
    }
    
    .cartcount {
        color: #fff;
    }

    th {
        color: #fff;
        float: left;
        margin: 0;
    }

    .producttitle {
        color: #fff;
    }

    label {
        color: #fff;
    }

    input-qty {
        color: #fff;
    }

    h5 {
        color: #fff;
    }

     h4 {
        color: #fff;
    }

     .product {
        color: #fff;
    }

    h3 {
        color: #fff;
        opacity: 0.6;
    }

    td {
        color: #fff;
    }

    input[type=submit]:hover {
      border: 2px solid #fff;
      color: #fff;
      background-color: #8b0000;
      border: 1px solid #8b0000;
    }

     input[type=reset]:hover {
      border: 2px solid #fff;
      color: #fff;
      background-color: #8b0000;
      border: 1px solid #8b0000;
    }

     input[type=submit] {
      border: 2px solid #fff;
      color: #fff;
      border: 1px solid #8b0000;
    }

     input[type=reset] {
      border: 2px solid #fff;
      color: #fff;
      border: 1px solid #8b0000;
    }

    input[type=number] {
      color: #fff;
    }

    .form-control {
        /*border: 1px solid #fff;*/
        background-color: #000;
    }

    input[type=text] {
        border: 2px solid #fff;
        color: #fff;
        width: 75%;
    }

     input[type=checkbox] {
      border: 2px solid #fff;
      color: #fff;
    }

    h2 {
        color: #fff;
        border-bottom: 1px solid #fff;
    }
    
    .container {
        background-color: #000;
    }
    
    h1 {
        color: #fff;
    }

    b {
        color: #fff;
    }

    p {
        color: #fff;
    }
    
    .message-wrapper {
        width: 100%;
        margin: 0;
    }
    
    mark {
      background: linear-gradient(
      -100deg,
      hsla(48,92%,75%,.3),
      hsla(48,92%,75%,.7) 95%,
      hsla(48,92%,75%,.1)
      );
      /*border-radius: 1em 0;*/
      padding: .3em;
    }
}

@media all and (max-width: 670px) {
     body {
        background-color: #000;
     }

    article {
        margin: 0;
    }

    th {
        color: #fff;
        float: left;
        margin: 0;
    }

    .top-header {
        margin-right: 100px;
    }
    
     input[type=submit]:hover {
      border: 2px solid #fff;
      color: #fff;
      background-color: #8b0000;
      border: 1px solid #8b0000;
    }

     input[type=reset]:hover {
      border: 2px solid #fff;
      color: #fff;
      background-color: #8b0000;
      border: 1px solid #8b0000;
    }

     .cartcount {
        color: #fff;
    }

     input[type=number] {
      color: #fff;
    }

     .producttitle {
        color: #fff;
    }
    
     h4 {
        color: #fff;
    }

     .product {
        color: #fff;
    }
    
    h5 {
        color: #fff;
    }

    label {
        color: #fff;
    }

    input-qty {
        color: #fff;
    }

    h3 {
        color: #fff;
        opacity: 0.6;
    }

    td {
        color: #fff;
    }

    input[type=submit] {
      border: 2px solid #fff;
      color: #fff;
      border: 1px solid #8b0000;
    }

     input[type=reset] {
      border: 2px solid #fff;
      color: #fff;
      border: 1px solid #8b0000;
    }

    .form-control {
        /*border: 1px solid #fff;*/
        background-color: #000;
    }

   input[type=text] {
      border: 1px solid #fff;
      color: #fff;
      width: 75%;
    }

     input[type=checkbox] {
      border: 2px solid #fff;
      color: #fff;
    }

    h2 {
        color: #fff;
        border-bottom: 1px solid #fff;
    }
    
    .container {
        background-color: #000;
    }
    
      h1 {
        color: #fff;
    }

    b {
        color: #fff;
    }

    p {
        color: #fff;
    }
    
    mark {
      background: linear-gradient(
      -100deg,
      hsla(48,92%,75%,.3),
      hsla(48,92%,75%,.7) 95%,
      hsla(48,92%,75%,.1)
      );
      /*border-radius: 1em 0;*/
      padding: .3em;
   }
    
    .container {
        width: 100%;
        margin: 0;
    }
 
     .message-wrapper {
        width: 100%;
        margin: 0;
    }
}
