@media all and (max-width: 1080px) {
    body {
        background-color: #000;
    }

    .ref {
        width: 100%;
        marginL 0;
    }
    
    .container {
        background-color: #000;
    }
    
    h1 {
        color: #fff;
    }

    b {
        color: #fff;
    }

    p {
        color: #fff;
    }
    
    .message-wrapper {
        width: 100%;
        margin: 0;
    }
    
    mark {
      background: linear-gradient(
      -100deg,
      hsla(48,92%,75%,.3),
      hsla(48,92%,75%,.7) 95%,
      hsla(48,92%,75%,.1)
      );
      /*border-radius: 1em 0;*/
      padding: .3em;
    }
}

@media all and (max-width: 670px) {
     body {
        background-color: #000;
    }

    .ref {
        width: 100%;
        margin: 0;
    }
    
    .container {
        background-color: #000;
    }
    
      h1 {
        color: #fff;
    }

    b {
        color: #fff;
    }

    p {
        color: #fff;
    }
    
    mark {
      background: linear-gradient(
      -100deg,
      hsla(48,92%,75%,.3),
      hsla(48,92%,75%,.7) 95%,
      hsla(48,92%,75%,.1)
      );
      /*border-radius: 1em 0;*/
      padding: .3em;
   }
    
    .container {
        width: 100%;
        margin: 0;
    }
 
     .message-wrapper {
        width: 100%;
        margin: 0;
    }
}
